.DS\_Store
*.sw?
catalina\.base*
/vendor/bundle
out/**
**/*.bak
**/Spring*Integration*Test.java
**/dontevercheckin
**/gitignore
**/target/**
.idea/
*.iml
_notes
MyMy*
my_my*.rb
_debug
_TODO*
_todo*
_playground
_dev
node_modules
.editorconfig
**/*.log
**/*.rakeTasks
tmp
railways.cache
_external
**/\.DS_Store
